@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Plus Jakarta Sans, sans-serif;
    background-color: #f0f0f0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
    
.logo{
    margin-left: 124px;
    margin-top: 32.5px;
    margin-bottom: 32.5px;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin: 0 auto;
    padding: 0;
    padding-left: 738px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.cta-button{
    display: inline-block;
    width: 139px;
    height: 52px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 8px;
    background-color: #2964FC;
}